* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
  color: aliceblue;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

header {
  text-align: center;
  background-color: transparent;
}

.App {
  background-image: url("../src/images/mountain.jpg");
  background-size: cover;
  height: 100vh;
}
